<div class="card mt-5 comment-form shadow-effect">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can leave a comment using this comment form.</p>
        <form action="">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your name Here">
            </div>
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <textarea cols="30" rows="10" class="form-control shadow-effect"
                    placeholder="Write your comment Here"></textarea>
            </div>

            <button class="btn btn-primary btn-comment" type="button">Add a Comment</button>

        </form>
    </div>
</div>