<div class="card">
    <img src="assets/IMG0019.jpg" alt="ShreeMataji" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ms-3">Features</small>
        <small class="bg-light text-info text-center ms-3">Views - 100,501</small>
        <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur, accusantium adipisci nam,
            doloribus similique aliquid dolores modi minus ut consequuntur? Voluptatem aliquam vitae distinctio
            perferendis ipsam quos deleniti ipsa.</P>
        <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 20, 2021 </small>
    </div>
</div>