<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo">
                    Grow In Sahajayoga
                </div>
                <div>
                    <ul class="nav nav-tabs justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms & Condition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright © 2023 Grow In Sahajayoga</p>
            </div>
        </div>

    </div>
</footer>