<section class="bg-secondary-theme">
    <div class="card shadow-effect">
        <div class="card-body">
            <div class="mt-3 mb-5">
                <h3 class="text-center">SUBSCRIPTION FORM</h3>
                <p class="text-center subs-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quo vero harum aspernatur rerum
                    recusandae excepturi unde facere praesentium vel! Minima vitae quos reiciendis cum, facere quia
                    quidem
                    repellendus quaerat.
                </p>
                <div class="row g-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name" aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="emal" class="form-control" placeholder="Email Address" aria-label="Last name">
                    </div>
                    <div class="col">
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary btn-sub" type="button">Subcribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>